.main {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-width: 400px;
  height: 100%;
  gap: var(--margin-unit);
  background-color: white;
  border-right: 4px solid black;
  padding: calc(var(--padding-unit) * 2);
}

.post .metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* === CHATBOX === */

.chatbox {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 1200px;
  height: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0px;
  flex-grow: 1;
  padding: 0 calc(var(--padding-unit) * 3);
  align-items: center;
  overflow: hidden scroll;
  background-color: white;
}

.chat::-webkit-scrollbar {
  width: 8px;
}

.chat::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.chat::-webkit-scrollbar-thumb {
  background-color: #0000009f;
  border-radius: 100px;
}

.chat .message {
  margin: var(--margin-unit);
  font-size: calc(var(--global-font-size) * 0.8);
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-unit);
  border-bottom: 1px solid black;
  background-color: rgb(255, 255, 255);
  word-wrap: break-word;
}

.chat .message .author {
  font-weight: 1000;
  color: palevioletred;
  margin-bottom: calc(var(--margin-unit) * 1);
}

.chat .message .data {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--global-font-size);
}

.chat .message .time_sent {
  font-size: small;
  font-weight: 400;
}

.chatbox .inputbox {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  padding: var(--padding-unit);
}

.chatbox .inputbox .input {
  flex-grow: 1;
  resize: none;
  padding: calc(var(--padding-unit) * 2);
  border-radius: 1rem;
}

.chatbox .inputbox .input::-webkit-scrollbar {
  display: none;
}

.chatbox .inputbox .send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin: var(--margin-unit);
  padding: 0;
  text-align: center;
  background-color: transparent;
}

.chatbox .inputbox .send:hover {
  background-color: #d3d3d3;
}
